* {
    margin: 0;
    padding: 0;
}
/* Imagen Full page*/
body {
    background: url("../img/bg-portfolio.jpg") no-repeat center center fixed;
    background-size: cover;

}
html {
    scroll-behavior: smooth;
}

header{
    margin-bottom: 5rem;
}

