* {
    margin: 0;
    padding: 0;
}
/* Imagen Full page*/
body {
    background: url("../img/bg-portfolio.jpg") no-repeat center center fixed;
    background-size: cover;

}
html {
    scroll-behavior: smooth;
}

.h2-title{
    text-align: center;
    font-weight: bold;
    font-size: 3.65rem;
    color: white;
    font-family: 'Gabriela', serif;
}

.h2-title-section{
    text-align: center;
    font-weight: bold;
    font-size: 3.65rem;
    color: white;
    font-family: 'Rubik', sans-serif;
}

/************  Section Header - Main Navigation ***************************/
header{
    margin-bottom: 5rem;
}
.logo{
    width: 30px;
    height: 30px;
}
.navbar {
    background-color: transparent;
}

.nav-item a.nav-link:hover {
    color: rgb(33, 204, 7)!important;
}

.top-nav-collapse {
    background-color: rgb(1, 0, 9, 1)!important;
}


@media only screen and (max-width: 992px) {
    .navbar {
        background-color: rgb(1, 0, 9, 1)!important;
    }
}

/******************Section Habilidades ***********************/
.badge {
    font-size: 1.5rem;
    margin-left: 1.15rem;
    margin-top: 0.75rem;
}

#habilidades .container div:nth-child(n) {
    height: 35px!important;
    margin-top: 2rem;
}

#habilidades .container h2{
    margin-top: 2rem;
}

#habilidades .container div:nth-child(2) {
    width: 80%;
}

#habilidades .container div:nth-child(4) {
    width: 70%;
}
#habilidades .container div:nth-child(6) {
    width: 50%;
}
#habilidades .container div:nth-child(8) {
    width: 90%;
}
#habilidades .container div:nth-child(10) {
    width: 75%;
}
#habilidades .container div:nth-child(12) {
    width: 50%;
}
#habilidades .container div:nth-child(14) {
    width: 45%;
}
/************************* Experiencia y Portfolio****************************/
#experiencia article button {
    background-color:rgba(1, 0, 9, 0.2)!important;
    font-family: Arial, Helvetica, sans-serif!important;
    text-transform: capitalize;
    font-size: 1.25rem!important;
}
#accordion button:hover {
    text-decoration: underline;
}
#portfolio .card .card-body {
    background-color:rgba(1, 0, 9, 1)!important;
}

/**************  Carousel Testimonios***********************/
.slider-area{
    background: transparent;
    padding: 50px 0;
    position: relative;
    margin: 12px;
}
.carousel-control.left,
.carousel-control.right {
    background: transparent;
}
.img-area {
    width: 170px;
    height: 170px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.img-area img {
    width: 100%;
}
.carousel-caption {
    position: static;
    padding-bottom: 15px;
    padding-top: 0;
}
.carousel-caption h3{
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 25px;
}
.carousel-caption h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 25px;
}
.carousel-caption p{
    font-size: 1rem;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
    
}
.carousel-indicators {
    bottom: -35px;
}
.carousel-caption p i{
    font-size: 2rem;
    
}

/*************    Section Contact   **********************/
.card {
    background: transparent;
}
.box-text {
    background-color:rgba(1, 0, 9, 0.2)!important;
    padding: 1rem;
}

/********************  Form  ******************************/
.md-form label{
    color: white;
}
.md-form i {
    color: white;
}
.md-form input {
    color: white;
}
.md-textarea{
    color: white;
}
#contacto form div button {
    border: 1px solid white;
    color: white;
}

#contacto form div button:hover {
    background-color:rgba(1, 0, 9, 1);
    color: white;
    font-weight: 800;
}


/************    Footer    ********************************/

footer {
    background-color: rgba(1, 0, 9, 1);
}
.footer-copyright {
    border-top: 1px solid white;
}

/*******   Ajustes Media Queries H2 Title Section   *******/
@media (max-width: 600px) {
    .h2-title-section, .h2-title {
        font-size: 2.25rem;
    }
    footer .fab, .far {
        font-size: 1.75rem;
    }
   
}
