* {
    margin: 0;
    padding: 0;
}
/* Imagen Full page*/
body {
    background: url("../img/bg-portfolio.jpg") no-repeat center center fixed;
    background-size: cover;

}
html {
    scroll-behavior: smooth;
}
/************  Section Header - Main Navigation ***************************/
header{
    margin-bottom: 5rem;
}
.logo{
    width: 30px;
    height: 30px;
}
.navbar {
    background-color: transparent;
}

.nav-item a.nav-link:hover {
    color: rgb(33, 204, 7)!important;
}

.top-nav-collapse {
    background-color: rgb(11, 16, 24)!important;
}


@media only screen and (max-width: 992px) {
    .navbar {
        background-color: rgb(11, 16, 24)!important;
    }
}

/******************Section Habilidades ***********************/
.badge {
    font-size: 1.5rem;
    margin-left: 1.15rem;
    margin-top: 0.75rem;
}

#habilidades div:nth-child(n) {
    height: 40px!important;
    margin-top: 2rem;
}

#habilidades div:nth-child(1) {
    width: 80%;
}

#habilidades div:nth-child(2) {
    width: 85%;
}
#habilidades div:nth-child(3) {
    width: 75%;
}
#habilidades div:nth-child(4) {
    width: 65%;
}
/************************* Experiencia y Portfolio****************************/
.btn {
    background-color:rgba(1, 0, 9, 0.2)!important;
}

#portfolio .card .card-body {
    background-color:rgba(1, 0, 9, 1)!important;
}

/**************  Carousel Testimonios***********************/
.slider-area{
    background: transparent;
    padding: 50px 0;
    position: relative;
    margin: 12px;
}
.carousel-control.left,
.carousel-control.right {
    background: transparent;
}
.img-area {
    width: 170px;
    height: 170px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.img-area img {
    width: 100%;
}
.carousel-caption {
    position: static;
    padding-bottom: 15px;
    padding-top: 0;
}
.carousel-caption h3{
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 25px;
}
.carousel-caption h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 25px;
}
.carousel-caption p{
    font-size: 1rem;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
    
}
.carousel-indicators {
    bottom: -35px;
}
.carousel-caption p i{
    font-size: 2rem;
    
}